<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- CSS file -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/64b483cfec.js" crossorigin="anonymous"></script>
    <!-- Charts.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <style media="screen">
    body{
    font-family: 'Josefin Sans', sans-serif;
    }
    .input-section{
    background-color: #025955;
    padding-top: 80px;
    padding-bottom: 80px;
    }
    .white-section{
/*    background-color: #eeebdd;
*/    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    }
    .results{
    margin-top: 10px;
    text-align: center;
    }
    
    .icon{
    color: #00917c;
    }
    .feature-title{
    margin-top: 15px;
    color: #00917c;
    }
    .resultvalues{
    color: #1b1717;
    }
    .card{
    text-align: center;
    background-color: #eeebdd;
    color: black;
    width: 25rem;
    margin: 0 auto;
    }
    .btn-inp{
    margin-top: 9px;
    }

    .t-div
    {
        display: block;
        text-align: center;
    }
    .t-form
    {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    </style>
  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-light" style="height: 50px; background-color: black;">
      <span class="navbar-brand mx-auto h1" style="margin-top: -5px; color: #cee6b4;">ROUGH SET THEORY: GUI</span>
      
    </nav>

    <!-- Input Section -->
    <section>
      <div class="input-section container-fluid">
        <div class="row" style="text-align: center;">
          <div class="card">
            <div class="card-header text-center" ><i class="fa fa-upload mx-2"></i>IMPORT FILE</div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile" id="myfile">
                
                <button class="btn btn-inp" style="border-color:#025955; color:#025955;" type="submit" name="file" id="file">Upload</button>
              </form>
            </div>
          </div>

          <div>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button style="margin-top: 60px; margin-bottom: 60px" class="btn btn-success" type="submit" name="clear" id="clear">CLEAR DATABASE</button>
            </form>
              

          </div>
          <div class="card";>
            <div class="card-header text-center" ><i class="fa fa-download mx-2"></i>OUTPUT FILE</div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <button class="btn btn-inp" style="border-color:#025955; color:#025955;" type="submit" name="dwld" id="dwld">Download</button>
              </form>
            </div>
          </div>
          
        </section>



        <!-- Result Section -->
        <section id="analytics">
          <div class="white-section container-fluid">
            <div style="text-align: center; margin-top: 20px; margin-bottom: 60px;">
                <h1><i class="icon fas fa-chart-pie mr-3"></i><u>ANALYTICS</u></h1>
            </div>
            <div class="row">
              <div class="results col-lg-3">
                <i class="icon fas fa-arrow-circle-down fa-4x"></i>
                <h4 class="feature-title"><u>LOWER APPROXIMATION</u></h4>
                {% for key,value in dict_nla.items  %}
                  <h4 class="resultvalues">{{ key }}(DA) : {{value}}</h4>
                {% endfor %}
              </div>
              <div class="results col-lg-3">
                <i class="icon fas fa-arrow-circle-up fa-4x"></i>
                <h4 class="feature-title"><u>UPPER APPROXIMATION</u></h4>
                {% for key,value in dict_nua.items  %}
                  <h4 class="resultvalues">{{ key }}(DA) : {{value}}</h4>
                {% endfor %}
              </div>
              <div class="results col-lg-3">
               <i class="icon fas fa-check-square fa-4x"></i> 
                <h4 class="feature-title"><u>ACCURACY</u></h4>
                {% for key,value in dict_accu.items  %}
                  <h4 class="resultvalues">{{ key }}(DA) : {{value}}</h4>
                {% endfor %}
              </div>
              <div class="results col-lg-3">
                <i class="icon fas fa-balance-scale fa-4x"></i>
                <h4 class="feature-title"><u>STABILITY INDEX</u></h4>
                {% for key,value in dict_SI.items  %}
                  <h4 class="resultvalues">{{ key }}(DA) : {{value}}</h4>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>


        <!-- <div class="white-section">
           <form class="form-inline">
          <div class="form-group" style="margin-left: 550px;">
            <input type="text" class="form-control" id="threshold_value" placeholder="Enter Threshold">
          </div>
          <button type="submit" class="btn btn-dark ml-5" style="border-color:#630000; color:white; background-color:#630000 #">Submit</button>
        </form> 
        </div> -->

        <div class="t-div input-section" style="font-family: Roboto;">
        <form method="POST" class="t-form form-inline">
            {% csrf_token %}
            <input type="text" id="threshold_input" name="threshold_input" class="form-control" placeholder="Enter threshold">
            <button class="btn btn-success ml-4" id="threshold_button" name="threshold_button">Submit</button>
        </form>
        </div>
    

        <div class="row" style="background-color: #025955;" >
          <div class="container white-section" style="background-color: white;">
            <canvas id="myChart" width="400" height="150"></canvas>
          </div>
        </div>


        <script>
        let temp = [];
        let colors = ['blue','seagreen','navy','indigo','firebrick'];
        let b = {{ chart_data }};
        let l = {{ decision_attributes | safe }};


        var ctx = document.getElementById('myChart');
        
        for(let i = 0; i < l.length; i++){
            let x = {data: [],label:'',borderColor: '',fill:false,backgroundColor:''};
            x.data = b[i];
            x.label = l[i];
            x.borderColor = colors[i];
            x.backgroundColor = colors[i];  
            temp.push(x);
        }

        let threshold = {{thresh}};
        if(temp.length != 0){
            len = temp[0].data.length
            d = []
            for(let i = 0; i < len; i++){
                d.push(threshold)
            }
            let x = {data: [],label:'',borderColor: '',fill:false,backgroundColor:''};
            x.data = d;
            x.label = "Threshold";
            x.borderColor = "red";
            x.backgroundColor = "red";  
            temp.push(x);
        }
        



        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: [{% for i in query_results2 %}"{{ i.date }}",{% endfor %}],
        datasets: temp
        },
        options: {
            title: {
                    display: true,
                    text: 'Stability Index'
                },
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }]
        }
        }
        });
        </script>
        
      </body>
    </html>